.body{
    background-color: 	rgb(116,195,187)
}
.breadcrumb{
    
    margin-right: 600px;
    font-family:  Comic Sans MS;
    font-style: italic;
    
}
.nav-item{
    font-family:  Comic Sans MS;
    font-style: italic;
}