<div class="container">
  <header>
    <p>{{ content }}</p>
  </header>

</div>
<div class="form-style-5">


  <form name="form" (ngSubmit)=" onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="form.title"  #title="ngModel" />
    </div>
    <div class="form-group">
      <label for="author">author</label>
      <input type="text"  value="1111111"  class="form-control" name="author"  [(ngModel)]="form.author"  #author="ngModel" />
    </div>
    <div class="form-group">
      <label for="discription">discription</label>
      <input type="text" class="form-control" name="discription" [(ngModel)]="form.discription"  #discription="ngModel" />
    </div>
    <div class="form-group">
      <label for="image">image</label>
      <input type="file" class="form-control" name="image" [(ngModel)]="form.image"  #image="ngModel" />
    </div>
    <div class="form-group">
      <label for="initialPrice">initialPrice</label>
      <input type="text" class="form-control" name="initialPrice" [(ngModel)]="form.initialPrice"  #initialPrice="ngModel" />
    </div>
    <div class="form-group">
      <label for="openAt">openAt</label>
      <input type="date" class="form-control" name="openAt" [(ngModel)]="form.openAt"  #openAt="ngModel" />
    </div>
    <div class="form-group">
      <label for="closeAt">closeAt</label>
      <input type="date" class="form-control" name="closeAt" [(ngModel)]="form.closeAt"  #closeAt="ngModel" />
    </div>
    
    <div class="form-group">
      <button class="btn btn-primary btn-block">add item</button>
    </div>

    
  </form>
</div>